<!DOCTYPE html>
<html>
  <head>
    <title>Bacefook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag       'favicon.ico' %>
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
  </head>

  <body>
    <noscript>
      <p>
        Please turn on JavaScript. <b>NB</b>: Eventually serve static files from
        backend and show its link here.
      </p>
    </noscript>

    <%= yield %>
  </body>
</html>
