<!DOCTYPE html>
<html>
  <head>
    <title>Bacefook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <noscript>
      <p>
        Please turn on JavaScript. <b>NB</b>: Eventually serve static files from
        backend and show its link here.
      </p>
    </noscript>

    <%= yield %>
  </body>
</html>
